body {
    background: rgb(179,179,179);
    background: linear-gradient(137deg, rgba(179,179,179,0.9717711480362538) 0%, rgba(208,209,205,1) 24%, rgba(240,235,235,0.5065143504531722) 49%, rgba(156,156,156,0.5065143504531722) 71%, rgba(4,0,0,1) 100%);
    width: 900px;
    margin: 10px auto;
    
}
h1 {
    background-color: rgb(10, 10, 10);
    color: rgb(253, 250, 250);
    border-radius: 10px 10px 0 0;
    width: 350px;
    margin-bottom: 0px;
    padding: 0;
    font-size: 3em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 
}
header {
       margin: 0 2%;
    padding-left: 4px;
    width: 40%;
    float: left;
}
h1 img {
    border-radius: 7px;
    margin: 0 auto;
    padding: 0 4px;
}
section {    
    width: 55%;
    float: right;
    
}
footer {
    clear: right;
    margin-left: 150px;
    
}
 h2 img {
    margin-top: 0;
    border-radius: 0 0 10px 10px;
} 

h2 {
   text-align: center;
   font-style: italic;
}
#img {
    margin-top: 0;
    float: left;
  
}
p {
    width: 500px;
    text-align: left;
    font-family: Georgia, serif;
    font-size: 1.2em;
}
li{
    text-align: left;
    font-family: Georgia, serif;
    font-size: 1.2em;

}
#tasks, .cont, #exp, #education, #examplcode {
    text-align: left;
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(243, 242, 242);
    margin-top: 7px;
    padding: 0 20px 0 20px;
}
span.code {
    color: blue;
}
.contacts {
    list-style-type: none;
}
ul.contacts {
   padding: 0;
   margin-left: 0px;
}
ul.tasks {
    padding: 0 0 0 3px;
    margin-left: 20px;
}
ul.links {
    list-style-type: none;
}
ul.links li {
    float: left;
    margin: auto;
}
.author {
    padding-top: 5em;
}
.menu {
    display: block;
    background-color: gray;
    width: 500px;
    height: 75px;
    position: relative;
    border-radius: 10px;
    margin-top: 2em;
}
.menu a {
    text-decoration: none;
}
.menu li {
    display: block;
    list-style-type: none;
}
.menu__list{
    position: absolute;
    display: block;
    top: 0;
    right: 15px;
}
.menu__list>li:hover .sub-menu__list {
    display: block;
}

.menu__link{
    color: white;
}
.sub-menu__list {
    display: none;
    position: absolute;
    right: -10px;
    top: 0px;
    background-color: gray;
    color: white;
}
.sub-menu__link{
    color: white;
    
}
.sub-menu__list>li:hover{
    color: yellow;
 
}